
/*Styles généraux*/
* {
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

/*En-tête*/
header {
    background-image: linear-gradient(rgb(94, 5, 5),orange);
    color: white;
    padding: 0 3rem;
}

header * {
    display: inline-block;
}

h1, nav {
    width: 49%;
}

h1{
    text-shadow: 0 0 0.2rem black;
    vertical-align: middle;
    text-align: center;
}

h1 img{
    vertical-align: middle;
    width: 15%;
}

/*Navigation*/
nav{
    text-align: right;
}

nav a {
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:link, nav a:visited {
    color: white;
    transition: color 0.5s;
}

nav a:hover {
    color: rgb(120, 78, 1);
}

/*Contenu principal*/
main {
    margin: 5rem 10%;
}

input {
    padding: 1rem;
    border: 0.1rem orange solid;
    border-radius: 0.3rem;
    margin: 0.5rem;
}

/*Pied de page*/
footer{
    background-image: linear-gradient(orange,rgb(94, 5, 5));
    padding: 3rem;
    color: white;
    text-shadow: 0 0 0.2rem black;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}